<% content_for :title, "TODOリストのページ" %>
<div class="container">
  <ul class="lists">
    <li class="list-item -selected">未削除全て</li>
    <li class="list-item">未完了のみ</li>
    <li class="list-item">完了済みのみ</li>
    <li class="list-item">削除ずみ</li>
  </ul>
  <div class="tasks">
    <% @tasks.each do |task| %>
      <div class="task">
        <%= form_with(model: task, url: task_path(task), method: :patch, local: true) do |form| %>
          <%= render(CheckboxComponent.new(form: form,id: task.id, is_active: task.completed, on_change: "this.form.requestSubmit()" )) %>
        <% end %>
        <p class="task-title"><%= task.title %></p>
        <%= form_with(model: task, url: task_path(task), method: :delete) do |form| %>
          <%= render(ButtonComponent.new(label: "Delete", type: "submit", class_name: "task-delete-button" )) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<footer class="footer">
  <%= form_with(model: @task, url:tasks_path) do|form| %>
    <div class="new-task">
      <%= form.label :title, "タイトル", class: "new-task-label" %>
      <%= form.text_field :title, class: "new-task-form", placeholder: "タイトルを入力してください" %>
    </div>
    <div class="new-task">
      <%= form.label :description, "内容", class: "new-task-label" %>
      <%= form.text_area :description, class: "new-task-form description", placeholder: "内容を入力してください" %>
    </div>
    <%= render(ButtonComponent.new(label: "追加", type: "submit", class_name: "new-task-button" ,is_black: true,)) %>
  <% end%>
</footer>
